<!DOCTYPE html>
<html>
<script src="https://d3js.org/d3.v5.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ryan Lu">
    <meta name="description" content="Personal Website of Ryan Lu">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    {% include analytics.html %}
<link rel='stylesheet' href="{{ site.url }}/css/style.css">
<link rel='stylesheet' href="{{ site.url }}/css/lightbox.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel='stylesheet' href="{{ site.url }}/css/rouge-github.css">-->
</head>



<body>
    <h1 class="centered title"> RYAN LU </h1>
    <h4 class="centered">
        <a href='{{ site.url }}/'>about me</a> ·
        <a href='{{ site.url }}/experience/'>experience</a> ·
        <a href='{{ site.url }}/projects/'>projects</a> ·
        <a href='{{ site.url }}/blog/'>blog</a> ·
        <a href='{{ site.url }}/photos/'>photos</a>
    </h4>
        {{ content }}
    <br>
    <h4 class="centered">
        <a href='https://github.com/ryanlu41' target='_blank'>github</a> ·
        <a href='https://www.linkedin.com/in/ryanlu17' target='_blank'>linkedin</a> ·
        <a href='mailto:ryan.lu@northwestern.edu' target='_blank'>email</a> ·
        <a href='https://scholar.google.com/citations?hl=en&authuser=1&user=yNjfOhgAAAAJ' target='_blank'>google scholar</a>
    </h4>
    <br>
    <script src="{{ site.url }}/js/lightbox-plus-jquery.js"></script>
</body>
</html>