---
layout: default
---
<style>
    p {
        font: 16px verdana, tahoma, sans-serif;
        color:#666;
    }
    

    ul {
    padding-left: 1.5em;
    list-style-type: disc;
    font-size: 16px;
    }
    ul li:before {
    content: "";
    margin-right: 0em;
    }

    ol {
        padding-left: 1.5em;
        font-size: 16px;
    }
    img {
        display: block;
        border: 0;
        float: left;
    }
    .image-show {
        font-size: 0;
    }
    
</style>
<div class='row slide'>
    <div class="col-md-8 offset-md-2">
        <h3>{{ page.title }}</h1>
        <p class="meta">{{ page.date | date_to_string }}</p>
        {{ content }}
    </div>
</div>